<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">                    
      <objectContribution
            objectClass="com.collabnet.ccf.model.Landscape"
            id="com.collabnet.ccf.model.Landscape">                   
         <action
               label="Migrate landscape to CCF 2.x..."
               class="com.collabnet.ccf.migration.actions.MigrateLandscapeAction"
               enablesFor="1"
               menubarPath="group.c"
               id="com.collabnet.ccf.migration.actions.MigrateLandscapeAction">
         </action>                                                                                    
      </objectContribution>                                                           
   </extension> 

</plugin>
