<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.collabnet.ccf.mappingVisibilityCheckers">
      <visibilityChecker
            class="com.collabnet.ccf.teamforge_sw.ProjectMappingVisibilityChecker"
            id="com.collabnet.ccf.teamforge_sw.ProjectMappingVisibilityChecker">
      </visibilityChecker>                   
   </extension>
   
   <extension
         point="com.collabnet.ccf.mappingChangeListeners">
      <changeListener
            class="com.collabnet.ccf.teamforge_sw.TeamForgeSwpProjectMappingChangeListener"
            id="com.collabnet.ccf.teamforge_sw.TeamForgeSwpProjectMappingChangeListener">
      </changeListener>                   
   </extension>   

	<extension point="org.eclipse.ui.commands">
		<category
        	name="CollabNet CCF GUI TeamForge/ScrumWorks Commands"
        	description="Collabnet CCF GUI TeamForge/ScrumWorks Commands"
        	id="com.collabnet.ccf.teamforge_sw.commands">
		</category>
		<command
	        categoryId="com.collabnet.ccf.teamforge_sw.commands"
	        id="com.collabnet.ccf.teamforge_sw.commands.mapProjects"
	        name="Map Projects">
		</command>
		<command
	        categoryId="com.collabnet.ccf.teamforge_sw.commands"
	        id="com.collabnet.ccf.teamforge_sw.commands.syncThemes"
	        name="Synchronize Themes">
		</command>
		<command
	        categoryId="com.collabnet.ccf.teamforge_sw.commands"
	        id="com.collabnet.ccf.teamforge_sw.commands.mapUsers"
	        name="Map Users">
		</command>				
	</extension>

	<extension
         point="org.eclipse.ui.menus">        
	 	<menuContribution
	          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	        <command
	             commandId="com.collabnet.ccf.teamforge_sw.commands.mapProjects"
	             label="Map projects..."
	             style="push">
	        	<visibleWhen
	                checkEnabled="true">
	             <and>
	                <count
	                      value="1">
	                </count>  
	             </and>
	          	</visibleWhen>
	        </command>
	    </menuContribution>
	 	<menuContribution
	          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	        <command
	             commandId="com.collabnet.ccf.teamforge_sw.commands.syncThemes"
	             label="Synchronize themes..."
	             style="push">
	        	<visibleWhen
	                checkEnabled="true">
	             <and>
	                <count
	                      value="1">
	                </count>  
	             </and>
	          	</visibleWhen>
	        </command>
	    </menuContribution> 
	 	<menuContribution
	          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	        <command
	             commandId="com.collabnet.ccf.teamforge_sw.commands.mapUsers"
	             label="Map users..."
	             style="push">
	        	<visibleWhen
	                checkEnabled="true">
	             <and>
	                <count
	                      value="1">
	                </count>  
	             </and>
	          	</visibleWhen>
	        </command>
	    </menuContribution>            	      	               	                
	</extension>
   
    <extension
       point="org.eclipse.ui.handlers">
     <handler
          class="com.collabnet.ccf.teamforge_sw.MapProjectsHandler"
          commandId="com.collabnet.ccf.teamforge_sw.commands.mapProjects">
       <enabledWhen>
          <iterate>
              <and>
                <test
                	  forcePluginActivation="true"
                      property="com.collabnet.ccf.teamforge_sw.isTeamForgeSwpLandscape"
                      value="true">
                </test>                                    
			 </and>
          </iterate>
       </enabledWhen>
    </handler>
     <handler
          class="com.collabnet.ccf.teamforge_sw.SynchronizeThemesHandler"
          commandId="com.collabnet.ccf.teamforge_sw.commands.syncThemes">
       <enabledWhen>
          <iterate>
              <and>
                <adapt
                      type="com.collabnet.ccf.model.AdministratorSynchronizationStatus">
                </adapt>
                <test
                	  forcePluginActivation="true"
                      property="com.collabnet.ccf.teamforge_sw.isTrackerPbisMapping"
                      value="true">
                </test>                                    
			 </and>
          </iterate>
       </enabledWhen>
    </handler> 
    <handler
          class="com.collabnet.ccf.teamforge_sw.MapUsersHandler"
          commandId="com.collabnet.ccf.teamforge_sw.commands.mapUsers">
       <enabledWhen>
          <iterate>
              <and>
                <adapt
                      type="com.collabnet.ccf.model.AdministratorSynchronizationStatus">
                </adapt>
                <test
                	  forcePluginActivation="true"
                      property="com.collabnet.ccf.teamforge_sw.isTeamForgeScrumWorksMapping"
                      value="true">
                </test>                                    
			 </and>
          </iterate>
       </enabledWhen>
    </handler>           
 </extension>
      
 <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.collabnet.ccf.teamforge_sw.ProjectMappingsPropertyTester"
            id="com.collabnet.ccf.teamforge_sw.ProjectMappingsPropertyTester"
            namespace="com.collabnet.ccf.teamforge_sw"
            properties="isTeamForgeSwpLandscape"
            type="com.collabnet.ccf.model.AdministratorProjectMappings">
      </propertyTester>
      <propertyTester
            class="com.collabnet.ccf.teamforge_sw.ProjectMappingsPropertyTester"
            id="com.collabnet.ccf.teamforge_sw.ProjectMappingsPropertyTester"
            namespace="com.collabnet.ccf.teamforge_sw"
            properties="isTeamForgeSwpLandscape"
            type="com.collabnet.ccf.model.AdministratorLandscape">
      </propertyTester>      
      <propertyTester
            class="com.collabnet.ccf.teamforge_sw.ProjectMappingsPropertyTester"
            id="com.collabnet.ccf.teamforge_sw.ProjectMappingsPropertyTester"
            namespace="com.collabnet.ccf.teamforge_sw"
            properties="isTrackerPbisMapping,isTeamForgeScrumWorksMapping"
            type="com.collabnet.ccf.model.AdministratorSynchronizationStatus">
      </propertyTester>      
   </extension> 
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.collabnet.ccf.teamforge_sw.preferences.TeamForgeSwpPreferenceInitializer"/>
   </extension>   
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="TF-SWP Integration"
            category="com.collabnet.ccf.preferences"
            class="com.collabnet.ccf.teamforge_sw.preferences.TeamForgeSwpPreferencesPage"
            id="com.collabnet.ccf.teamforge_sw.preferences.TeamForgeSwpPreferencesPage">
      </page>
   </extension>     

</plugin>
