<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="landscapeContributors" name="CCF Landscape Contributors" schema="schema/landscapeContributors.exsd"/>

   <extension
         point="com.collabnet.ccf.landscapeContributors">
      <landscape
            name="TeamForge/QC"
            description="Bidirectional TeamForge and QC synchronizations"
            class="com.collabnet.ccf.TeamForgeQCLandscapeContributor"
            sequence="10"
            image="teamForgeQC.png"
            id="com.collabnet.ccf.TeamForgeQCLandscapeContributor">
      </landscape> 
      <landscape
            name="Project Tracker/QC"
            description="Bidirectional Project Tracker and QC synchronizations"
            class="com.collabnet.ccf.ProjectTrackerQCLandscapeContributor"
            sequence="20"
            image="projectTrackerQC.png"
            id="com.collabnet.ccf.ProjectTrackerQCLandscapeContributor">
      </landscape>         
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.collabnet.ccf.preferences.CcfPreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferenceTransfer">
       <transfer
            icon="icons/landscape.gif"
            name="CCF Landscapes"
            id="com.collabnet.ccf.preferenceTransfer">
            <mapping scope="instance">
                <entry node="com.collabnet.ccf/ccfLandscapes">
                </entry>
            </mapping>
            <description>
             Export CCF Landscapes
            </description>
      </transfer>  
   </extension> 

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.collabnet.ccf.preferences.CcfPreferencePage"
            id="com.collabnet.ccf.preferences"
            name="CollabNet Connector Framework"/>
      <page
            class="com.collabnet.ccf.preferences.HospitalPreferencePage"
            id="com.collabnet.ccf.preferences.hospital"
            category="com.collabnet.ccf.preferences"
            name="Hospital"/>            
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CollabNet"
            id="com.collabnet.desktop">
      </category>
      <view
            name="CCF Explorer"
            icon="icons/ccfExplorer.gif"
            category="com.collabnet.desktop"
            class="com.collabnet.ccf.views.CcfExplorerView"
            id="com.collabnet.ccf.views.CcfExplorerView">
      </view>
      <view
            name="Hospital"
            icon="icons/hospitalView.gif"
            category="com.collabnet.desktop"
            class="com.collabnet.ccf.views.HospitalView"
            id="com.collabnet.ccf.views.HospitalView">
      </view>      
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.collabnet.ccf.PerspectiveFactory"
            icon="icons/ccfPerspective.gif"
            id="com.collabnet.ccf.perspective"
            name="CollabNet Connector Framework"/>
   </extension>   
   
   <extension
         point="org.eclipse.ui.popupMenus">                    
      <objectContribution
            objectClass="com.collabnet.ccf.model.Patient"
            id="com.collabnet.ccf.model.Patient">                 
         <action
               label="Examine quarantined artifact"
               menubarPath="group.a"
               class="com.collabnet.ccf.actions.ExaminePayloadAction"
               id="com.collabnet.ccf.actions.ExaminePayloadAction">
         </action> 
         <action
               label="View Details"
               menubarPath="group.a"
               class="com.collabnet.ccf.actions.HospitalEditAction"
               id="com.collabnet.ccf.actions.HospitalEditAction">
         </action>
         <action
               label="Reopen"
               menubarPath="group.c"
               class="com.collabnet.ccf.actions.ReopenAction"
               id="com.collabnet.ccf.actions.ReopenAction">
         </action>                       
         <action
               label="Mark as Fixed"
               menubarPath="group.c"
               class="com.collabnet.ccf.actions.MarkFixedAction"
               id="com.collabnet.ccf.actions.MarkFixedAction">
         </action>
         <action
               label="Cancel replay"
               menubarPath="group.d"
               class="com.collabnet.ccf.actions.CancelReplayHospitalAction"
               id="com.collabnet.ccf.actions.CancelReplayHospitalAction">
         </action>                          
         <action
               label="Replay"
               menubarPath="group.d"
               class="com.collabnet.ccf.actions.ReplayHospitalAction"
               id="com.collabnet.ccf.actions.ReplayHospitalAction">
         </action>                                 
         <action
               label="Delete"
               menubarPath="group.e"
               class="com.collabnet.ccf.actions.DeletePatientAction"
               id="com.collabnet.ccf.actions.DeletePatientAction">
         </action>                                                                         
      </objectContribution>
      
      <objectContribution
            objectClass="com.collabnet.ccf.model.Landscape"
            id="com.collabnet.ccf.model.Landscape">
         <action
               label="Show Hospital"
               class="com.collabnet.ccf.actions.HospitalAction"
               enablesFor="1"
               menubarPath="group.a"
               icon="icons/hospitalView.gif"
               id="com.collabnet.ccf.actions.HospitalAction">
         </action>                        
         <action
               label="Delete landscape"
               class="com.collabnet.ccf.actions.DeleteLandscapeAction"
               menubarPath="group.b"
               id="com.collabnet.ccf.actions.DeleteLandscapeAction">
         </action> 
         <action
               label="Edit landscape"
               class="com.collabnet.ccf.actions.EditLandscapeAction"
               menubarPath="group.b"
               id="com.collabnet.ccf.actions.EditLandscapeAction">
         </action>                                                                        
      </objectContribution>
      
      <objectContribution
            objectClass="com.collabnet.ccf.model.ProjectMappings"
            id="com.collabnet.ccf.model.ProjectMappings">
         <action
               label="Project Mapping"
               class="com.collabnet.ccf.actions.AddSynchronizationStatusAction"
               menubarPath="group.add/New"
               id="com.collabnet.ccf.actions.AddSynchronizationStatusAction">
         </action> 
         <action
               label="Refresh"
               class="com.collabnet.ccf.actions.RefreshAction"
               icon="icons/refresh.gif"
               menubarPath="group.b"
               id="com.collabnet.ccf.actions.RefreshAction">
         </action>                                                              
      </objectContribution> 
      
      <objectContribution
            objectClass="com.collabnet.ccf.model.SynchronizationStatus"
            id="com.collabnet.ccf.model.SynchronizationStatus">  
         <action
               label="Show Hospital"
               class="com.collabnet.ccf.actions.HospitalAction"
               enablesFor="1"
               menubarPath="group.a"
               icon="icons/hospitalView.gif"
               id="com.collabnet.ccf.actions.HospitalAction">
         </action>
         <action
               label="Edit field mappings"
               class="com.collabnet.ccf.actions.EditWiringsAction"
               menubarPath="group.b"
               id="com.collabnet.ccf.actions.EditWiringsAction">
         </action>                      
         <action
               label="Delete identity mappings"
               class="com.collabnet.ccf.actions.DeleteIdentityMappingsAction"
               menubarPath="group.c"
               id="com.collabnet.ccf.actions.DeleteIdentityMappingsAction">
         </action>                           
         <action
               label="Reset synchronization status..."
               class="com.collabnet.ccf.actions.ResetSynchronizationStatusAction"
               menubarPath="group.c"
               id="com.collabnet.ccf.actions.ResetSynchronizationStatusAction">
         </action>
         <action
               label="Resume synchronization"
               class="com.collabnet.ccf.actions.ResumeSynchronizationAction"
               menubarPath="group.c"
               id="com.collabnet.ccf.actions.ResumeSynchronizationAction">
         </action>          
         <action
               label="Pause synchronization"
               class="com.collabnet.ccf.actions.PauseSynchronizationAction"
               menubarPath="group.c"
               id="com.collabnet.ccf.actions.PauseSynchronizationAction">
         </action> 
         <action
               label="Delete project mapping"
               class="com.collabnet.ccf.actions.DeleteSynchronizationStatusAction"
               menubarPath="group.d"
               id="com.collabnet.ccf.actions.DeleteSynchronizationStatusAction">
         </action> 
         <action
               label="Change project mapping..."
               class="com.collabnet.ccf.actions.ChangeSynchronizationStatusAction"
               menubarPath="group.d"
               id="com.collabnet.ccf.actions.ChangeSynchronizationStatusAction">
         </action>                                                                                              
      </objectContribution>
      
      <objectContribution
            objectClass="com.collabnet.ccf.model.Log"
            id="com.collabnet.ccf.model.log">  
         <action
               label="Open log"
               class="com.collabnet.ccf.actions.EditLogAction"
               menubarPath="group.a"
               id="com.collabnet.ccf.actions.EditLogAction">
         </action> 
         <action
               label="Delete log"
               class="com.collabnet.ccf.actions.DeleteLogAction"
               menubarPath="group.c"
               id="com.collabnet.ccf.actions.DeleteLogAction">
         </action>                                                                                                  
      </objectContribution>                                        
                         
   </extension> 
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CCF Editor"
            default="false"
            icon="icons/landscape.gif"
            extensions="ccf"
            contributorClass="com.collabnet.ccf.editors.CcfActionBarContributor"
            class="com.collabnet.ccf.editors.CcfEditor"
            id="com.collabnet.ccf.editors.CcfEditor">
      </editor> 
      <editor
            name="Hospital Editor"
            default="false"
            icon="icons/hospitalEntry.gif"
            contributorClass="com.collabnet.ccf.editors.HospitalActionBarContributor"
            class="com.collabnet.ccf.editors.HospitalEditor"
            id="com.collabnet.ccf.editors.HospitalEditor">
      </editor>                 
   </extension>

</plugin>
