<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="com.collabnet.ccf.ccfParticipants">
      <participant
            name="RequisitePro"
            type="RQP"
            repositoryKind="DEFECT"
            class="com.collabnet.ccf.rqp.RequisiteProCcfParticipant"
            sequence="10"
            propertyFile="rqp.properties"
            id="com.collabnet.ccf.rqp.RequisiteProCcfParticipant">
      </participant>               
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.collabnet.ccf.rqp.preferences.RequisiteProPreferenceInitializer"/>
   </extension>   
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="RequisitePro Integration"
            category="com.collabnet.ccf.preferences"
            class="com.collabnet.ccf.rqp.preferences.RequisiteProPreferencesPage"
            id="com.collabnet.ccf.rqp.preferences.RequisiteProPreferencesPage">
      </page>
   </extension>        

</plugin>
