<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="com.collabnet.ccf.ccfParticipants">
      <participant
            name="Quality Center"
            type="QC"
            repositoryKind="DEFECT"
            class="com.collabnet.ccf.qc.QualityCenterCcfParticipant"
            sequence="10"
            propertyFile="qc.properties"
            id="com.collabnet.ccf.qc.QualityCenterCcfParticipant">
      </participant>               
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.collabnet.ccf.qc.preferences.QualityCenterPreferenceInitializer"/>
   </extension>   
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Quality Center Integration"
            category="com.collabnet.ccf.preferences"
            class="com.collabnet.ccf.qc.preferences.QualityCenterPreferencesPage"
            id="com.collabnet.ccf.qc.preferences.QualityCenterPreferencesPage">
      </page>
   </extension>        

</plugin>
