<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.collabnet.ccf.ccfParticipants">
      <participant
            name="Project Tracker"
            type="PT"
            repositoryKind="TRACKER"
            class="com.collabnet.ccf.pt.ProjectTrackerCcfParticipant"
            sequence="30"
            propertyFile="cee.properties"
            id="com.collabnet.ccf.pt.ProjectTrackerCcfParticipant">
      </participant>   	          
   </extension>

</plugin>
